.profile_name{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bold;
}
.text-center{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}